<div class="mt-16 py-8 border-t-2 flex justify-between items-center">
  <div class="flex items-center flex-1">
    <div class="inline-block h-8 w-8 border-2 bg-blue-100 rounded-full mr-2 flex justify-center items-center">
      <img class="w-5 h-5"src="/assets/img/favicon/favicon-32x32.png" alt="Today I painted logo">
    </div>
    <span class="text-lg font-medium">{{ site.name }}</span>
  </div>
  <p class="text-sm text-right flex-1">I'm <em>learning to paint</em> in public!</p>
</div>
