<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>{{ site.title }}</title>
    <meta name='description' content={{ site.description }}>

    <link rel="manifest" href="/manifest.json" />

    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <link href="/assets/styles/index.css" rel="stylesheet" />
  </head>

  <body>
    {{ content }}
  </body>
</html>
