<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>{{ site.title }}</title>
    <meta name='description' content={{ site.description }}>

    <link rel="manifest" href="/manifest.json" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico">

    <link href="/assets/styles/tailwind.css" rel="stylesheet" />
    <link href="/assets/styles/index.css" rel="stylesheet" />
  </head>

  <body>
    {{ content }}
  </body>
  <script defer src="https://cloud.umami.is/script.js" data-website-id="199ea66b-8ca8-4a3a-aec0-83342a4c896d"></script>
</html>
