---
layout: main
---

<a href="/">
<img
    class="py-10 md:hidden"
    src="/assets/img/favicon/favicon-32x32.png" alt="Today I painted!"
/>

<img
    class="py-10 hidden md:block md:py-20"
    src="/assets/img/favicon/favicon-64x64.png" alt="Today I painted!"
/>
</a>
  
{% include "nav.liquid" %}

{{ content }}
